.nofify:hover{
    box-shadow: 0 0 20px #8653FF;
    transition: 0.3s ease-in-out;
}
.input:hover{
    box-shadow: 0 0 10px #fff;
    transition: 0.3s ease-in-out;
}
.icons:hover{
    filter: drop-shadow(0 0 10px #fff);
}
.menu:hover{
    filter: drop-shadow(0 0 5px #fff);
}